<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocabulaire d'Allemand</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <form action="/verif" method="post">
        <div>
            <p><%=mots[0]%></p>
            <input type="text" placeholder="traduction en allemand" id="1">
            <p><%=mots[1]%></p>
            <input type="text" placeholder="traduction en allemand" id="2">
            <p><%=mots[2]%></p>
            <input type="text" placeholder="traduction en allemand" id="3">
            <p><%=mots[3]%></p>
            <input type="text" placeholder="traduction en allemand" id="4">
            <p><%=mots[4]%></p>
            <input type="text" placeholder="traduction en allemand" id="5">
            <p><%=mots[5]%></p>
            <input type="text" placeholder="traduction en allemand" id="6">
            <p><%=mots[6]%></p>
            <input type="text" placeholder="traduction en allemand" id="7">
            <p><%=mots[7]%></p>
            <input type="text" placeholder="traduction en allemand" id="8">
            <p><%=mots[8]%></p>
            <input type="text" placeholder="traduction en allemand" id="9">
            <p><%=mots[9]%></p>
            <input type="text" placeholder="traduction en allemand" id="10">
        </div>
    </form>
</body>

</html>